@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "master.cshtml";
}

    <div class="hero">
        <div class="wrapper">
            <div class="hero__text">
                <H1>@Model.Value("heroheadline")</H1>
                <p>@Model.Value("herotext")</p>
            </div>
        </div>
    </div>
    <main class="wrapper">
        <h2>@Model.Value("productsheadline")</h2>
        <h4>@Model.Value("productstext")</h4>

        <section class="products__overview">
            <div class="product__container">
                <h3>@Model.Value("product1name")</h3>
                @Model.Value("product1items")
                <a class="button" href="#">
                    <p>@Model.Value("product1price")<i> /måned</i><br>
                    <i class="moms">Ekskl. moms</i></p>
                </a>
            </div>
            <div class="product__container">
                <h3>@Model.Value("product2name")</h3>
                @Model.Value("product2items")
                <a class="button" href="#">
                    <p>@Model.Value("product2price")<i> /måned</i><br>
                    <i class="moms">Ekskl. moms</i></p>
                </a>
            </div>
            <div class="product__container">
                <h3>@Model.Value("product3name")</h3>
                @Model.Value("product3items")
                <a class="button" href="#">
                    <p>@Model.Value("product3price")<i> /måned</i><br>
                    <i class="moms">Ekskl. moms</i></p>
                </a>
            </div>
            <div class="product__container">
                <h3>@Model.Value("product4name")</h3>
                @Model.Value("product4items")
                <a class="button" href="#">
                    <p>@Model.Value("product4price")<i> /måned</i><br>
                    <i class="moms">Ekskl. moms</i></p>
                </a>
            </div>
        </section>
        <div class="products__contact">
            @Model.Value("productscontacttext")
            <a class="contact__button " href="#"><i class="fas fa-headset"></i>@Model.Value("productscontactbutton")</a>
        </div>
    </main>