@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link href="~/css/style.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/b394bbec28.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        @Html.Partial("Navigation")
    </header>

        @RenderBody()

    <footer>
        <div class="wrapper">
            <div class="footer__content">
                <div class="footer__text">
                    @Model.Value("footertext")
                </div>
                <div class="footer__logo">
                    @{
                        var typedMediaPickerSingle = Model.Value<IPublishedContent>("footerlogo");
                        if (typedMediaPickerSingle != null)
                        {
                            <img src="@typedMediaPickerSingle.Url" style="width:300px" alt="@typedMediaPickerSingle.Value("alt")" />
                        }
                    }
                </div>
            </div>
        </div>
    </footer>
</body>
</html>